/* CAROUSEL MOBILE*/
.carousel_list {
  display: flex;
  list-style: none;
  max-width: 600px;
  margin-block: 2rem;
  margin-inline: auto;
  overflow: auto;
  scroll-snap-type: x mandatory;
}

.carousel__item {
  display: grid;
  place-items: center;
  color: white;
  font-size: 3rem;

  aspect-ratio: 2/1;
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
}

.video__wrapper {
  display: none;
}
/*MEDIA QUERY CAROUSEL TABLET*/
@media (min-width: $tablet) {
  .video__carousel {
    display: none;
  }

  .container__video {
    display: flex;
  }
  .video__wrapper {
    display: block;
  }
}
