.container__form {
    padding: 10% 10% 20% 10%;
    display: flex;
    text-align: center;
  }
  
  .form__input__text {
    text-align: center;
    padding: 2%;
  }
  
  .form__submit {
    margin-top: 5%;
    width: 50%;
  }
  /*MEDIA QUERY FORM TABLET*/
  @media(min-width:768px){

    .container__form {
        padding: 10%;
        display: flex;
        text-align: center;
      }
    
      .form__inputs {
        display: flex;
        justify-content: center;
        gap: 5%;
      }
    
      .form__input__text {
        text-align: center;
        padding: 0;
      }
    
      .form__submit {
        margin-top: 0;
        width: 50%;
      }
  }