.disc__img__one {
  margin-top: -30%;
}

.disc__img__two p {
  text-align: center;
  margin: 5% 0 0 0;
}

/*MEDIA QUERY DISC MOBILE*/
@media (min-width: 480px) {
  .disc__img__one {
    margin-top: -20%;
  }
}

/*MEDIA QUERY DISC TABLET*/
@media (min-width: $tablet) {
  .container__disc {
    display: flex;
    justify-content: center;
    align-items: center;
    border: $button-border;
  }

  .disc__img__one {
    margin-top: 0;
  }

  .disc__img__two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .disc__img__two img {
    width: 70%;
  }

  .disc__img__two p {
    text-align: center;
    margin: 5% 0 5% 0;
  }
}
